@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@utility tr-* {
  transition-property:
    color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow,
    transform, translate, scale, rotate, backdrop-filter, display;
  transition-duration: calc(--value(integer, [integer]) * 0.96ms);
  transition-timing-function: ease;
  @media (prefers-reduced-motion: reduced) {
    transition-duration: calc(--value(integer, [integer]) * 0.72ms);
  }
}

@theme {
  --color-background: var(--background);
  --color-background-subtle: var(--background-subtle);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --background: hsl(229 57% 96%);
  --background-subtle: hsl(229 57% 90%);
  --foreground: hsl(229 63% 4%);

  --muted: hsl(229 12% 86%);
  --muted-foreground: hsl(229 10% 37%);

  --popover: hsl(220 4% 99%);
  --popover-foreground: hsl(229 63% 3%);

  --card: hsl(220 4% 99%);
  --card-foreground: hsl(229 63% 3%);

  --primary: hsl(229, 96%, 62%);
  --primary-foreground: hsl(220 4% 96%);

  --secondary: hsl(229 20% 90%);
  --secondary-foreground: hsl(229 20% 30%);

  --accent: hsl(229 28% 85%);
  --accent-foreground: 229 28% 25%;

  --destructive: hsl(3 96% 50%);
  --destructive-foreground: hsl(3 4% 96%);

  --ring: hsl(229 96% 62%);
  --input: hsl(22220 13% 91%);
  --border: hsl(22220 13% 91%);

  --chart-1: hsl(229 96% 62%);
  --chart-2: hsl(229 20% 90%);
  --chart-3: hsl(229 28% 85%);
  --chart-4: hsl(229 20% 93%);
  --chart-5: hsl(229 96% 62%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(229 41% 4%);
  --background-subtle: hsl(229 41% 10%);
  --foreground: hsl(229 23% 99%);

  --muted: hsl(229 12% 14%);
  --muted-foreground: hsl(229 10% 63%);

  --popover: hsl(229 41% 5%);
  --popover-foreground: hsl(220 4% 96%);

  --card: hsl(229 41% 5%);
  --card-foreground: hsl(220 4% 96%);

  --primary: hsl(229 96% 62%);
  --primary-foreground: hsl(220 4% 96%);

  --secondary: hsl(229 14% 8%);
  --secondary-foreground: hsl(229 14% 68%);

  --accent: hsl(229 23% 17%);
  --accent-foreground: hsl(229 23% 77%);

  --destructive: hsl(3 89% 54%);
  --destructive-foreground: hsl(220 4% 96%);

  --ring: hsl(229 96% 62%);
  --input: hsl(215 27.9% 16.9%);
  --border: hsl(215 27.9% 16.9%);

  --chart-1: hsl(229 96% 62%);
  --chart-2: hsl(229 14% 8%);
  --chart-3: hsl(229 23% 17%);
  --chart-4: hsl(229 14% 11%);
  --chart-5: hsl(229 96% 62%);
}

@layer base {
  * {
    @apply border-border ring-ring/50 outline-ring/50 tr-180;
  }

  :focus-visible {
    @apply ring-0 outline-1 outline-offset-2;
  }

  :focus:not(:focus-visible) {
    @apply ring-offset-2 outline-0;
  }

  body {
    @apply bg-background text-foreground antialiased;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }
}

.btn {
  @apply inline-flex h-9 shrink-0 items-center justify-center gap-2 rounded-md px-4 py-2 text-sm font-medium whitespace-nowrap tr-240 outline-none focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 has-[>svg]:px-3 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
}

.btn-primary {
  @apply bg-primary text-primary-foreground shadow-xs hover:bg-primary/90;
}

.btn-secondary {
  @apply bg-secondary text-secondary-foreground shadow-xs hover:bg-secondary/80;
}

.btn-ghost {
  @apply hover:bg-accent hover:text-foreground dark:hover:bg-accent/50;
}

.btn-destructive {
  @apply bg-destructive text-destructive-foreground shadow-xs hover:bg-destructive/90;
}
